<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 3 | Registration Page</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ style('../../plugins/fontawesome-free/css/all.min.css') }}
	{{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}
	{{ style('../../plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}
	{{ style('../../dist/css/adminlte.min.css') }}
	{{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}

</head>
<body class="hold-transition register-page">
	<div class="register-box">
		<div class="register-logo">
			<a href="{{ route('/') }}"><b>Admin</b>LTE</a>
		</div>

		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">Registrar novo membro</p>

				@include('includes.notification')

				<form action="{{ route('register') }}" method="post" class="{{ wasvalidated }} mb-3" novalidate>

					{{ csrfField() }}

					<div class="input-group mt-3">
						<input type="text"
							class="form-control input {{ hasErrorFor('first_name') ? 'text-danger' : '' }}"
							placeholder="Nome"
							name="first_name"
							value="{{ old('first_name','') }}"

						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					{{ elIf('<small class="text-danger">$self</small>', getErrorFor('first_name'), hasErrorFor('first_name')) }}

					<div class="input-group mt-3">
						<input type="text"
							class="form-control input {{ hasErrorFor('last_name') ? 'text-danger' : '' }}"
							placeholder="Sobrenome"
							name="last_name"
							value="{{ old('last_name','') }}"

						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					{{ elIf('<small class="text-danger">$self</small>', getErrorFor('last_name'), hasErrorFor('last_name')) }}

					<div class="input-group mt-3">
						<input type="text"
							class="form-control input {{ hasErrorFor('occupation') ? 'text-danger' : '' }}"
							placeholder="Ocupação"
							name="occupation"
							value="{{ old('occupation','') }}"

						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					{{ elIf('<small class="text-danger">$self</small>', getErrorFor('occupation'), hasErrorFor('occupation')) }}

					<div class="input-group mt-3">
						<input type="email"
							class="form-control input {{ hasErrorFor('email') ? 'text-danger' : '' }}"
							placeholder="E-mail"
							name="email"
							value="{{ old('email','') }}"

						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					{{ elIf('<small class="text-danger">$self</small>', getErrorFor('email'), hasErrorFor('email')) }}

					<div class="input-group mt-3">
						<input type="text"
							class="form-control input {{ hasErrorFor('username') ? 'text-danger' : '' }}"
							placeholder="Nome de usuário"
							name="username"
							value="{{ old('username','') }}"

						/>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					{{ elIf('<small class="text-danger">$self</small>', getErrorFor('username'), hasErrorFor('username')) }}

					<div class="row">
						<div class="col-6">
							<div class="input-group mt-3">
								<input type="password"
									class="form-control input {{ hasErrorFor('password') ? 'text-danger' : '' }}"
									placeholder="Senha"
									name="password"
								/>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>
							{{ elIf('<small class="text-danger">$self</small>', getErrorFor('password'), hasErrorFor('password')) }}
						</div>

						<div class="col-6">
							<div class="input-group mt-3">
								<input type="password"
									class="form-control input {{ hasErrorFor('confirm_password') ? 'text-danger' : '' }}"
									placeholder="Confirme"
									name="confirm_password"

								/>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>
							{{ elIf('<small class="text-danger">$self</small>', getErrorFor('confirm_password'), hasErrorFor('confirm_password')) }}
						</div>
					</div>

					<div class="row">
						<!-- /.col -->
						<div class="col-12 mt-3">
							<button type="submit" class="btn btn-primary btn-block">Register</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<a href="{{ route('login') }}" class="text-center">Já tenho uma conta</a>
			</div>
			<!-- /.form-box -->
		</div><!-- /.card -->
	</div>
	<!-- /.register-box -->

	{{ script('../../plugins/jquery/jquery.min.js') }}
	{{ script('../../plugins/bootstrap/js/bootstrap.bundle.min.js') }}
	{{ script('../../dist/js/adminlte.min.js') }}

</body>
</html>
