<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>
		@if(config.title)
		{{ config.title }}
		@else
		Painel de Controle
		@endif
	</title>
	<!-- Google Fonts imports -->
	{{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}

	<!-- Font Awesome -->
	{{ style('plugins/fontawesome-free/css/all.min.css') }}
	<!-- Ionicons -->
	{{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}
	{{ style('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}
	<!-- DataTables -->
	{{ style('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}
	{{ style('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}
	<!-- Select2 -->
	{{ style('plugins/select2/css/select2.min.css') }}
	{{ style('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}
	<!-- daterange picker -->
	{{ style('plugins/daterangepicker/daterangepicker.css') }}
	<!-- iCheck for checkboxes and radio inputs -->
	{{ style('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}
	<!-- Theme style -->
	{{ style('dist/css/adminlte.min.css') }}
	<!-- Custom style -->
	{{ style('assets/css/style.css') }}
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
	<div class="wrapper">
		<!-- TOP Navbar -->
		@include('layout/top-navbar')
		<!-- /.TOP navbar -->

		<!-- Main Sidebar Container -->
		@include('layout/left-menu')

		<!-- Content Wrapper. Contains page content -->
		@!section('content')
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<strong>Copyright &copy; {{ config.YEAR }} <a href="http://adminlte.io">Painel de controle</a>.</strong>
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 1.0
			</div>
		</footer>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	{{ script('plugins/jquery/jquery.min.js') }}
	<!-- Bootstrap 4 -->
	{{ script('plugins/bootstrap/js/bootstrap.bundle.min.js') }}
	<!-- Select2 -->
	{{ script('plugins/select2/js/select2.full.min.js') }}
	<!-- Bootstrap4 Duallistbox -->
	{{ script('plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js') }}
	<!-- InputMask -->
	{{ script('plugins/moment/moment.min.js') }}
	{{ script('plugins/inputmask/min/jquery.inputmask.bundle.min.js') }}
	<!-- date-range-picker -->
	{{ script('plugins/daterangepicker/daterangepicker.js') }}
	<!-- javascript scrollbar plugin -->
	{{ script('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}
	<!-- AdminLTE App -->
	{{ script('dist/js/adminlte.js') }}
	<!-- Data Tables -->
	{{ script('plugins/datatables/jquery.dataTables.min.js') }}
	{{ script('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}
	{{ script('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}
	{{ script('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}

	{{ script('plugins/jquery-mousewheel/jquery.mousewheel.js') }}
	{{ script('plugins/raphael/raphael.min.js') }}
	{{ script('plugins/jquery-mapael/jquery.mapael.min.js') }}
	{{ script('plugins/jquery-mapael/maps/usa_states.min.js') }}
	{{ script('plugins/chart.js/Chart.min.js') }}

	<!-- custom file button -->
	{{ script('plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}

	@if(request.url() == '/')
		{{ script('dist/js/pages/dashboard2.js') }}
	@endif

	<!-- CKEditor start -->
	{{ script(assetsUrl('assets/plugins/ckeditor/ckeditor.js')) }}

	<!-- slugify -->
	{{ script(assetsUrl('assets/plugins/slugify/jquery.slugify.js')) }}

	<!-- custom scripts -->
	{{ script('assets/js/init.js') }}
	{{ script('assets/js/mask.js') }}

</body>
</html>
