<p>Olá {{ first_name }}!</p>

<p>
	Welcome to AdonisJS, please confirme your email address by clicking the link below
</p>
<p>
	<a href="{{ appUrl('register/confirm/'+confirmation_token) }}">Confirme email address</a>
</p>
